QLabel {
    font-weight: bold;
    qproperty-alignment: AlignCenter;
    color: #ECDFCC;
}

QLabel#title {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
}

QLabel#hot_title {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
}

QPushButton {
    min-width: 80px;
    min-height: auto;
    height: 50px;
    background-color: #697565;
    border-radius: 4px;
}

QPushButton:hover {
    background-color: #495246;
}

QLineEdit {
    height: 50px;
    font-size: 24px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 4px;
    background-color: #3C3D37;
    color: #ECDFCC;
    padding-left: 10px;
}

QWidget#navigation_panel {
    background-color: #3C3D37;
}

QWidget#home_vbox {
    background-color: #1E201E;
}

QWidget#hot_container {
    border-radius: 5px;
    background-color: #697565;
    border-width: 2px;
    max-width: 200px;
}

QLabel#item_name {
    min-width: 140px;
}

QLabel#img {
    padding-left: 5px;
}
